@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
    padding: 0;
    margin: 0;
    background-color: #0c0c0c;
    color: rgb(255, 255, 255);
}
.gifs {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2px;
}
.gif {
    margin: 5px;
}
.forms {
    margin: 2rem 0 2rem 0;
    width: 100%;
}
.form {
    display: flex;
    justify-content: space-between;
}
.form h1 {
    letter-spacing: 1;
    cursor: pointer;
    transition: 0.4s;
}
.from h1:hover {
    letter-spacing: 5;
    transition: 0.4s;
}
.form input {
    width: 100%;
    background-color: rgb(54, 54, 54);
    border: 0;
}
.form a {
    text-decoration: none;
    color: rgb(59, 144, 73);
    font-weight: bold;
}
